
<div style="margin: 30px">
    <h1>Welcome to SilverScript</h1>
    <h2>
        SilverScript is a javascript Framework built to bring WPF/Silverlight binding syntaxes to javascript/typescript world. <br />
        <br />
    </h2>
    <br />
    Discover the easiest way to develop a website extensively using MVVM development pattern.<br/>
    SilverScript is designed to reduce significantly the need of creating code by connecting <br />
    your interface direclty to datasources and bind your UI elements to your datasoucres. <br/>
    <br/>
    <br />
    <br />
    XAML developers will find it easy to learn using syntax they well know.<br />
    Lets say you defined in your javascript code : node.attributes["data-context"]=myObject; <br/>
    Then you can use the following on children nodes:<br />
    &lt;Button data-binding=&quot;{Binding Path=name,Destination=Content}&quot;&gt;
    &lt;/Button&gt;
    <br />
    Here the result will simply be the name of the object in data-context to be set as content of the button.
    <br />
    <br/>
    <br />
    We also added many other possibilities like retrieving the data-context directly from the server :<br/>
    &lt;div data-binding=&quot;{Binding Path=name,Destination=Content}&quot; data-context=&quot;/viewmodels/mycontroller&quot;&gt;
    &lt;/div&gt;
    <br />
    <br />
    <br />
The power of SilverScript comes from the fact that you can mix the approaches :<br />
    &lt;div data-context=&quot;/viewmodels/mycontroller&quot;&gt;<br/>
    &lt;button data-binding=&quot;{Binding Path=name,Destination=Content}&quot; data-context=&quot;{DataBinding Path=subObject}&quot;&gt;&lt;/button&gt;<br/>
    &lt;/div&gt;<br />



</div>