
<h2>Coucou</h2>

<div data-context="/raw/subscriptions.json">
    
    <a href="blank" data-binding="{Binding Path=value[0].id,Destination=href}{Binding Path=value[0].id,Destination=Content}">link</a>

    <div data-context="/raw/{Binding Path=value[0].id}/resourceGroups.json">
        <div data-source="{Binding Path=value}" data-template="/views/item.html">

        </div>
        <div data-source="{Binding Path=value}" data-template="/views/item2.html">

        </div>
    </div>
    <div data-context="https://api.ipify.org?format=json" data-binding="{Binding Path=ip,Destination=Content}">bla </div>
</div>

